@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Sen, sans-serif;
}

.hero{
  background: #1f2124;
}


.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center;
}


.privacyPolicy h2{
  font-weight: bold;
  padding-bottom: 20px;
  color: #0a0a0a;
  font-size: 18px;
}


.privacyPolicy p{
  padding-bottom: 20px;
  color: #374151;
  font-size: 17px;
}

.privacyPolicy ul{
  list-style:disc;
  color: #374151;
  padding-left: 40px;
}

.privacyPolicy ul li{
  padding-bottom: 20px;
  color: #374151;
  font-size: 17px;
}
