@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Sen, sans-serif;
}

.hero {
  background: #1f2124;
}


.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center;
}


.privacyPolicy h2 {
  font-weight: bold;
  padding-bottom: 20px;
  color: #0a0a0a;
  font-size: 18px;
}


.privacyPolicy p {
  padding-bottom: 20px;
  color: #374151;
  font-size: 17px;
}

.privacyPolicy ul {
  list-style: disc;
  color: #374151;
  padding-left: 40px;
}

.privacyPolicy ul li {
  padding-bottom: 20px;
  color: #374151;
  font-size: 17px;
}





/* Thankyou */


.thankYou {
  background: #fff;
  padding: 40px 0;
  align-items: center;
}

.thankYou .wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.thankYou img {
  margin: 0 auto;
}

.thankYou h1 {
  font-family: 'Raleway', Arial Black, Sans-Serif;
  font-size: 4em;
  font-weight: 900;
  letter-spacing: 3px;
  color: #1f2124;
  padding: 30px 0;
}

.thankYou .wrapper p {
  font-size: 1.3em;
  color: #1f2124;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
}

.thankYou .go-home {
  background: #219953;
  padding: 22px 0;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-family: 'Raleway', Arial Black;
  font-size: 1rem;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 40px auto auto auto;
  width: 30%;
}

.thankYou .go-home:hover {
  opacity: 0.9;
}


@media (min-width:360px) {
  .thankYou h1 {
    font-size: 4.5em;
  }
}

@media (min-width:600px) {
  .thankYou {
    max-width: 100%;
    margin: 0 auto;
  }

  .thankYou .wrapper {
    height: initial;
    max-width: 620px;
    margin: 0 auto;
  }
}